tasks {
    // 一个包含参数、选项、环境变量和用户的例子
    hello {
        - "echo Hello {name}! My age is {age}. The env FOO is $FOO."
        arg name
        opt age=18
        user root
        env {
            FOO bar
        }
    }
    // 一个让依赖任务在后台运行的例子
    ping {
        - "echo starting ping..."
        - "ping localhost"
        nice -10 // 设置 nice 以调整进程优先级
    }
    start-ping {
        - "echo ping will start in background..."
        dep ping {
            background
            // background #true // <- 或手动指定为 true
        }
    }
    // 一个多命令任务的例子
    precommit {
        - "cargo fmt --all -- --check"
        - "cargo clippy --all-targets -- -D warnings"
    }
    // 一个无命令任务的例子
    prepush {
        opt stdio=default
        dep precommit {
            stdout "{stdio}"
            stderr "{stdio}"
        }
        dep test {
            stdout "{stdio}"
            stderr "{stdio}"
        }
    }
    // 一个布尔选项的例子
    docker-up {
        - "docker compose up -d {--remove-orphans}"
        opt prune=#false
        opt "--remove-orphans"="{prune}"
    }
    format "cargo fmt"
    build "cargo build"
    test {
        - "cargo test --all"
        dep format
    }
    cleanup "cargo clean"
    run {
        - "cargo run --bin {bin}"
        arg bin
        dep build
        dep setcap {
            arg "target/debug/{bin}"
        }
    }
    release {
        - "cargo build --bin {bin} --release"
        arg bin
        dep test
        dep setcap {
            arg "target/release/{bin}"
        }
        env {
            RUST_BACKTRACE full
        }
    }
    install {
        dep cargo-install {
            arg "crates/doer"
        }
        dep setcap {
            arg "$(which doer)"
        }
    }
    cargo-install {
        - "cargo install --path {path}"
        arg path
        dep test
    }
    setcap {
        - "setcap 'cap_sys_nice=+ep' {path}"
        arg path
        user root
    }
}
